@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
}




/**************** sidebar menu ****************/
.sidebar{
    position: fixed;
    height: 100%;
    width: 258px;
    background: #0b7676;
    transition: all 0.5s ease;
}
.sidebar.active{
    width: 60px;
}
.sidebar .logo-details{
    height: 72px;
    width: 100%;
    background: #1d1d35;
    display: flex;
    align-items: center;   
}
.sidebar .logo-details i{
    font-size: 25px;
    color: #fff;
    min-width: 60px;
    text-align: center;
}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
.sidebar .nav-links{
    overflow-y: scroll;
    height: 630px;
}
/* .sidebar .nav-links li{
    height: 50px;
    list-style: none;
    width: 100%;
}
.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a:hover{
    background: #378f8f;
}
.sidebar .nav-links li a i{
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 15px;
} */
.sidebar .nav-links li a .link-name{
    color: #fff ;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

/****************** Collaspe ******************/
.collapsible {
    
    color: #fff;
    cursor: pointer;
    padding: 20px 20px 10px 30px;
    width: 100%;
    border: none;
    text-align: left;
    /* margin-left: ; */
    outline: none;
    font-size: 15px;
    font-weight: 400;
    background-color: #0b7676;
  }
  
  .active, .collapsible:hover {
    background-color:#378f8f; 
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content-sidebar {
    padding: 0 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #0b7676;
    cursor: pointer;
  }
  .content-sidebar li{
    font-size: 16px;
    font-weight: 500;
    list-style: none;
    color: #17bbca;
    line-height: 32px;
  }
  .content-sidebar li:hover{
    color: #fff;
  }

/****************** home section ******************/
.home-section{
    background: #f5f5f5;
    position: relative;
    min-height: 100vh;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}

.home-section nav{
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    height: 72px;
    background: #1d1d35;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    z-index: 1;
} 

.search-container{
    background: #fff;
    height: 35px;
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.8s;
}

.search-container:hover > .search-input{
    width: 400px;
}

.search-container .search-input{
    background: #fff;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    transition: 0.8s;  
}

.search-container .search-btn .fas{
    color: #0b7676;
}

.drop-link{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.dropbtn {
    background-color: #F5F6FA;
    color: white;
    padding: 8px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #EFEEF1;
    color: #333;
    font-weight: 500;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
.home-section nav .profile{
    display: flex;
    align-items: center;
    height: 40px;
    min-width: 75px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 5px 0 2px;
}

nav .profile .admin-name{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}





/*************** content ******************/
.Main-content{
    width: 100%;
    height: 100vh;
    overflow: scroll;
    display: flex;
}

.tab{
    margin-top: 120px;
    width: 100%;
    padding-top: 0;
}

.main-tab{
    width: 100%;
    padding: 0 0 0 45px;
    display: flex;
    height: 650px;
}
.left-tab{
    width: 600px;
    margin: 0 45px 0 0;
}
.content{
    font-size: 30px;
    font-weight: 600;
    color: rgb(20, 20, 20);
    margin-bottom: 25px;
}

.right-tab{
    width: 550px;
    margin-top: 50px;
}
.right-content{
    border: 1px solid #ececf4;
    border-radius: 4px;
}
.right-content-header{
    background-color: #fbfbfe;
    height: 32px;
    vertical-align: middle;
    color: #686e91;
    border: 1px solid #ececf4;
    border-radius: 4px 4px 0 0;
    align-items: center;
    padding: 0 0 0 15px;
    font-size: 13px;
    font-weight: 800;
    display: flex;
}
.right-content-innerwrap{
    background-color: #fff;
    word-wrap: break-word;
    padding: 15px 30px 15px 15px;
    line-height: 23px;
    font-size: 12px;
}
.second-innerwrap{
    margin-left: 28px;
}


/********************** Attribute section ******************/
.attribute-section{
    height: 650px;
    display: flex;
    width: 100%;
    padding: 0 0 0 45px;
}

h3{
    color: #575cdc;
    font-size: 18px;
    font-weight: 600;
}
.properties{
    border-bottom: 1px solid #d9d9dd;
    padding-bottom: 13px;
    /* font-size: 13px; */
}

.parameters>div{
    border-bottom: 1px solid #d9d9dd;
    padding: 13px 0;
}
.wrap-attribute-list{
    /* flex-wrap: wrap; */
    display: flex;
}
.att-name{
    font-size: 14px;
    font-weight: 700;
}
.att-type{
    margin-left: 10px;
    color: #686e91;
    font-size: 13px;
    margin-top: 8px;
}
.att-description{
    padding: 5px 0 0;
    font-size: 13px;
}


/******************** attribute right content *********************/

.example{
    margin: 10px 0 10px 15px;
}
code>span{
    line-height: 22px;
}
span{
    background-color: none;
}
.right-content-innerwrap:hover{
    overflow-y: auto;
}




/************* media query ***************/
@media screen and (max-width: 1295px) {
    .sidebar{
        display: none;
    }
    .home-section{
        left: 0;
        width: 100%;
    }
    .home-section nav{
        left: 0;
        width: 100%;
    }
    .left-tab{
        width: 100%;
    }
    .right-content{
        width: 100%;
    }
    /* .main-tab{
        display: flex;
        flex-direction: column;
        height: auto;
    } */
    .attribute-section{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    /* .attribute-section .left-tab {
        width: 40%;
        
    }
    .attribute-section .right-tab{
        width: 50%;
    } */
    /* .attribute-section{
        display: flex;
        flex-wrap: wrap;
    } */




}


@media screen and (max-width: 1000px) {
    .main-tab{
        display: flex;
        flex-direction: column;
        height: auto;
    }

}